

.login-form-wrapper .login-logo{background-image:url(/skin/frontend/default/tob/images/account_logo.png);background-repeat:no-repeat;background-position:left 15px;height:66px;margin-right:10px;margin-left:10px;padding-bottom:15px;margin-bottom:15px;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#CCC;padding-top:15px}

.login-form-wrapper .new-users{float:left;width:265px;padding-top:0px;padding-right:20px;padding-bottom:20px;padding-left:20px;text-align: left;font-size: 13px;line-height: 18px;}
.login-form-wrapper .registered-users{ text-align: left;float:left;width:260px;padding-top:0px;padding-right:20px;padding-bottom:20px;padding-left:20px}

.clearb{clear:both;height:1px;overflow:hidden}

.block-login{height:100%;width:100%;position:fixed;left:0px;top:0px;z-index:99999;background-image:url("../images/trans_bg.png")}
.login-form-wrapper{
                   width:610px;
                   margin-right:auto;
                   margin-left:auto;
                   background-color:#fff;
                   -webkit-border-radius:15px;
                   -moz-border-radius:15px;
                   border-radius:15px;
                   -moz-box-shadow:0 0 3px 1px #666;
                   -webkit-box-shadow:0 0 3px 1px #666;
                   box-shadow:0 0 3px 1px #666;
                   -ms-filter:progid:DXImageTransform.Microsoft.Shadow( Strength=3, Direction=135, Color='#666666' );
                   filter:progid:DXImageTransform.Microsoft.Shadow( Strength=3, Direction=135, Color='#666666' );
                   top:50%;
                   margin-top: -200px;
                   position:relative;
                   z-index: 99999;
                       
}

.login-form-wrapper .registered-users .input-box {
    padding-bottom: 15px;
    position: relative;
}
.login-form-wrapper .remember-box {
    float: left;
    white-space: nowrap;
}
.button-close{
  
    background: none repeat scroll 0 0 #7D7D7D;
    color: #FFFFFF;
    float: left;
    font: bold 12px/22px Arial,Helvetica,sans-serif;
    margin: 15px 5px;
    padding: 0 10px;

}
/* responsiveness */
@media (max-width:699px)
{
    .block.block-login .login-form-wrapper {
        width: 90% !important;
    }
    .block.block-login .login-form-wrapper .new-users {
        width: 94%;
    }
    .block.block-login .login-form-wrapper .registered-users {
        width: 94% !important;
    }
}
@media (min-width:400px) and (max-width:699px)
{
    .block.block-login .login-form-wrapper .new-users {
        text-align: center;
    }
    .block.block-login .login-form-wrapper .registered-users {
        text-align: center;
    }
}
@media (min-width:500px) and (max-width:699px)
{
    .block.block-login .login-form-wrapper .registered-users .input-box
    {
        left: 34%;
    }
    .block.block-login .login-form-wrapper button#send2 {
        float: none !important;
        margin-top: 34px !important;
    }
    .login-form-wrapper .registered-users .input-box input {
    float: left;
    width: 56% !important;
}
}
@media (min-width:400px) and (max-width:500px)
{
    .block.block-login .login-form-wrapper .registered-users .input-box
    {
        left: 26%;
    }
    .block.block-login .login-form-wrapper button#send2 {
        float: none !important;
        margin-top: 34px !important;
    }
    .login-form-wrapper .registered-users .input-box input {
    float: left;
    width: 56% !important;
}
}
@media  (max-width:399px)
{
   .block.block-login .login-form-wrapper .new-users {
        text-align: none;
    }
    .block.block-login .login-form-wrapper .registered-users {
        text-align:none;
    }
}